<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="fs-4">🌹 Florencee</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/dashboard" class="nav-link px-2 text-white">Панель администратора</a></li>
                <li sec:authorize="hasAnyAuthority('MANAGER', 'ADMIN')"><a href="/manager/dashboard" class="nav-link px-2 text-white">Панель менеджера</a></li>
                <li sec:authorize="hasAnyAuthority('CUSTOMER', 'MANAGER', 'ADMIN')"><a href="/customer/catalog" class="nav-link px-2 text-white">Каталог</a></li>
                <li sec:authorize="hasAnyAuthority('CUSTOMER', 'MANAGER', 'ADMIN')"><a href="/customer/orders" class="nav-link px-2 text-white">Мои заказы</a></li>
            </ul>

            <div class="text-end">
                <span sec:authorize="isAuthenticated()" class="me-3" th:text="'Пользователь: ' + ${#authentication.name}"></span>
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-warning">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</header>
</body>